.App {
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 700px;
  justify-content: space-around;
  align-items: flex-start;
}

.Person {
  padding: 10px;
  width: 200px;
  cursor: pointer;
  border: 1px solid gray;
}

.Person:nth-child(n+2) {
  border-top: 0;
}

.PersonDetails {
  width: 300px;
}

.PersonPhoto {
  display: block;
  width: 300px;
}

.PersonDetails>div:nth-child(n+2) {
  border: 1px solid gray;
}

.PersonDetails>div:nth-child(n+2) {
  border-top: 0;
}

.PersonName {
  padding: 30px 10px;
}

.Det {
  padding: 10px;
}